
//-----===== Базовые переменные ====-----//

// Стили шрифтов по умолчанию
@font-style-basic: normal;
@font-weight-basic: 400;
@font-size-basic: 16px;
@font-family:"Arial"; @font-family-basic: @font-family, sans-serif;

@line-height-basic: 1.5;

// Контрольные точки
@viewport-xs: 575px;
@viewport-sm: 576px;
@viewport-md: 768px;
@viewport-lg: 992px;
@viewport-xl: 1200px;

// Цвета
@white: #ffffff;

@black: #000000;
